script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

div(class="ads")
  ins(class="adsbygoogle",
       style="display:block",
       data-ad-client="ca-pub-6820463883429702",
       data-ad-slot="2128059279",
       data-ad-format="auto")

script.
  (adsbygoogle = window.adsbygoogle || []).push({});
