div(class='share')
  script(src="https://apis.google.com/js/platform.js",async, defer)
  div(class="g-plus", data-action="share", data-annotation="none", data-height="20", data-href="http://www.bookmarkify-js.com")
